* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(14, 14, 14);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
   display: flex;
   flex-direction: row;
    color: white;
}

h1 {
    font-size: 70px;
    margin-top: 5px;
}
p{
    font-size: 20px;
}
/* p,h1 {
    margin-left: 15px;
}
p{
    font-size: 20px;
    padding: 0 10px;
    margin-top: -30px;
} */
.btn {
    width: 30%;
    height: 30px;
    margin-left: 30px;
    background-color: white;
    border-color: white;
}
.btn > a{
    color: black;
}
.btn:hover {
    background-color: red;
    color: black;
    transform: scale(1.1);
}
.btn > a:hover{
    color: black;
}
a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(17, 17, 17);
}
.grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu > img, .close > img{
    width: 30px;
}


@media screen and (max-width: 768px) {
     .nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background-color: rgb(24, 23, 23);
        backdrop-filter: blur(10px);
        transition: .5s;
     }   
}
.close {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer
}
li {
    list-style: none;
    margin-bottom: 2rem;
}
a:hover {
    color: red;
}
.menu {
   cursor: pointer;
}
.show{
    right: 0;
}
@media screen and (min-width: 768px) {
    /* main {
        margin-top: 80px;
    }
     */
    .food {
        width: 500px;
        object-fit: cover;
        /* height: 300px; */
    }
    /* .images{
       align-items: flex-end;
       justify-content: flex-end;
       display: flex;
       flex-direction: row;
       margin-right: 40px;
       padding-top: 70px;
    } */
    .text {
        display: flex;
        justify-content: center;
        padding-left: 2em;
        flex-direction: column;
    }
    .box{
        display: flex;
        flex-direction: row;
    }
    
    .btn{
        width: 150px;
    }
    .menu, .close{
        display: none;
    }
    .nav_list{
    display: flex;
    margin-left: 46rem;
}
.nav_list > li{
    margin-left: 4.5rem;
     margin-bottom: 0;
}
}
@media screen and (min-width: 1024px) {
    h1{
        font-size: 85px;
    }
    p{
        font-size: 15px;
    }
    .box{
        height: 40vh;
    }
    .nav_list{
        margin-left: 32rem;
    }
}
